* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(225, 68, 68,.95)), to(rgba(225, 68, 68,.9))), url(../img/cover/11.jpg);

    background-image: linear-gradient(rgba(225, 68, 68,.95), rgba(225, 68, 68,.9)), url(../img/cover/11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: helvetica;
    font-size: 14px;
}

.wrapper {
    margin: 0 auto;
    height: 100vh;
    width: 85%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto 20%;
}


/******************************HEADER********************************/


header, footer{
    display: flex;
    justify-content: space-between;
}

header {
    margin-top: 50px;
}

.header-left {
    position: relative;
    line-height: 120%
}

.header-left p { display: inline-block;}

.header-left p:nth-child(2) {
    font-size: 14px;
    font-weight: 100;
    margin-left: 20px;
    position: relative;
    top: 8px;
}

.logo__square {
    position: absolute;
    left: 37px;
    top: -5px;
}

.header-right { 
    justify-self: end;
    padding-top: 18px;
}

/******************************Buttons********************************/

.btn_rap {
    border: 1px solid rgba(244, 244, 244, 0);
    background-color: transparent;
    -webkit-box-shadow: 1px 10px 26px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 10px 26px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    border-radius: 20px;
    padding: 13px 45px;
    text-decoration: none;
    -webkit-transition: background-color .3s, -webkit-box-shadow .3s;
    transition: background-color .3s, -webkit-box-shadow .3s;
    transition: background-color .3s, box-shadow .3s;
    transition: background-color .3s, box-shadow .3s, -webkit-box-shadow .3s;
}

.btn_rap:hover {
    background-color: #ffffff26;
    -webkit-box-shadow: none;
    box-shadow: none;

}

#copy_btn {
    cursor: pointer;
    margin-left: 20px;
}

.btn-generate {justify-self: end;
    -ms-flex-item-align: start;
    align-self: start;}

.button_generate {
    border-radius: 50%;
    padding: 35px 40px;
    background-color: transparent;
    -webkit-box-shadow: 10px 10px 44px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 44px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(244, 244, 244, 0);

}

.button_generate:hover {

    -webkit-box-shadow:0px 0px 0px rgb(0, 0 , 0);

    box-shadow:0px 0px 0px rgb(0, 0 , 0);
    cursor: pointer;
}

.button {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    padding: 10px 40px;
    text-decoration: none;
    -webkit-transition: background-color .3s, border .3s;
    transition: background-color .3s, border .3s;
    font-weight: 100;
}

.button:hover {
    border: none;
    background-color: #00B6F1;
}

.copy_case .button {
    margin-left: 15px;
    display: none;
    background-color: #ffffff26;
    border: none;
    vertical-align: super;    
}


/******************************MAIN********************************/

.main {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 20% auto 20%;
}

hr {
    margin-top: 25px;
    border-color: rgba(255, 255, 255, 0.25);
}

.movie {
    letter-spacing: .2px;
    font-weight: 100;
}

#sentence {
    font-size: 250%;
    line-height: 150%;
}

.copy_case {
    display: inline-block;
    vertical-align: middle;
}
.movie_case {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px;}

.sentence_case {
    grid-column-start: 1
}



/******************************FOOTER********************************/

footer {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 50px;
}

.footer-right {justify-self:end;}


.credits span{
    color:#ffffff6b;
}

p.credits {
    font-size: 85%;
    font-weight: 100;
}
.credits a {
    text-decoration: none;
    color: #fff;
}

