* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(225, 68, 68, 0.95)),
      to(rgba(225, 68, 68, 0.9))
    ),
    url(../img/cover/11.jpg);

  background-image: linear-gradient(
      rgba(225, 68, 68, 0.95),
      rgba(225, 68, 68, 0.9)
    ),
    url(../img/cover/11.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 14px;
}

.wrapper {
  margin: 0 auto;
  width: 85%;
}

/******************************HEADER********************************/

header,
footer {
  height: 15vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

header {
  margin-top: 5vh;
}

.header-left {
  position: relative;
  line-height: 120%;
}

.header-left p {
  display: inline-block;
}

.header-left p:nth-child(2) {
  font-size: 14px;
  font-weight: 100;
  margin-left: 20px;
  position: relative;
  top: 8px;
}

.logo__square {
  position: absolute;
  left: 31px;
  top: -5px;
}

.header-right {
  justify-self: end;
  padding-top: 18px;
}

/******************************Buttons********************************/

.btn_rap {
  border: 1px solid rgba(244, 244, 244, 0);
  background-color: transparent;
  -webkit-box-shadow: 1px 10px 26px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 10px 26px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: 100;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.btn_rap:hover {
  background-color: #ffffff26;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#copy_btn {
  cursor: pointer;
  margin-left: 20px;
}

.btn-generate {
  justify-self: end;
  -ms-flex-item-align: start;
  align-self: start;
}

.button_generate {
  border-radius: 50%;
  padding: 35px 40px;
  background-color: transparent;
  -webkit-box-shadow: 10px 10px 44px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 44px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(244, 244, 244, 0);
  align-self: flex-end;
  transition: all .5s ease-in-out;
}

.button_generate:hover {
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 20px;
  padding: 10px 40px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s, border 0.3s;
  transition: background-color 0.3s, border 0.3s;
  font-weight: 100;
}

.button:hover {
  border: 1px solid #00b6f1;
  background-color: #00b6f1;
}

.copy_case .button {
  margin-left: 15px;
  display: none;
  background-color: #ffffff26;
  border: none;
  vertical-align: super;
}

/******************************MAIN********************************/

.main {
  margin-top: 8vh;
  display: flex;
  height: 52vh;
  display: flex;
}

.main-left,
.main-right {
  display: flex;
  flex-direction: column;
}

.main-left {
  flex: 0 0 50%;
}

.main-right {
  justify-content: space-between;
  padding-top: 125px;
}


hr {
  margin: 25px 0;
  border-color: rgba(255, 255, 255, 0.25);
}

.movie_case {
  display: flex;
}

.movie {
  letter-spacing: 0.5px;
  font-weight: 700;
}

.movie--year {
  margin-left: .5rem;
  font-weight: 400;

}

#sentence {
  font-size: 300%;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.movie_case {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px;
}


/******************************FOOTER********************************/

footer {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 5vh;
}

.footer-right {
  justify-self: end;
}

.credits span {
  color: #ffffff6b;
}

p.credits {
  font-size: 85%;
  font-weight: 100;
}
.credits a {
  text-decoration: none;
  color: #fff;
}
